//IF Color Pallets
$white: #ffffff;
$black: #000000;
$if-blue: #063451;
$if-samon: #fb2e4a;
$if-samon-hover: darken($if-samon, 7%);
$if-dark-grey: #333333;
$if-light-grey: #999999;

//IF Typography
$urbane-light: "UrbaneRounded-Light";
$urbane-medium: "UrbaneRounded-Medium";
$urbane-bold: "UrbaneRounded-DemiBold";
