//IF Color Pallets
$white: #ffffff;
$black: #000000;
$if-blue: #063451;
$if-samon: #fb2e4a;
$if-samon-hover: darken($if-samon, 7%);
$if-dark-grey: #333333;
$if-light-grey: #999999;

//IF Typography
$light: 300;
$medium: 500;
$bold: 700;
