/* Common styles */
body {
  margin: 0;
  font-family: $urbane-light, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $if-blue;
  text-align: left;
  background-color: $white;
}

/* headings/content */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: $urbane-medium;
  font-weight: normal;
}

/* Font Family */
.urbane-light {
  font-family: $urbane-light;
}
.urbane-medium {
  font-family: $urbane-medium;
}
.urbane-bold {
  font-family: $urbane-bold;
}

/* Bg Colors */
.if-blue-bg {
  background-color: $if-blue;
}

/* Section Title/Content */
.section-title {
  font-size: 26px;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 36px;
  }
}

.section-content {
  padding-top: 15px;

  * {
    color: $if-blue;
    font-family: $urbane-light;
    font-size: 16px;
    line-height: 30px;
  }

  a {
    color: $if-samon;
    text-decoration: underline;
  }

  ul,
  ol {
    display: inline-block;

    li {
      text-align: left;
    }
  }
}

@media (min-width: 768px) {
  .section-content {
    padding-top: 30px;
    padding-bottom: 30px;

    * {
      font-size: 22px;
    }
  }
}

/* Buttons */
.btn-signup {
  background-color: $if-samon;
  font-size: 20px;
  text-transform: uppercase;
  height: 45px;
  padding: 0px 15px;
  color: $white;
  text-align: center;
  min-width: 220px;
  @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.25), false);

  img {
    max-width: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 5px;
  }

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    background-color: $if-samon-hover;
    color: $white;
    @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.55), false);
  }
}
@media (min-width: 768px) {
  .btn-signup {
    font-size: 30px;
    height: 65px;
    min-width: 300px;

    img {
      max-width: 32px;
    }
  }
}

/* Section Padding */
.section-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* Wavey divider */
.wavy-divider {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='1400px' height='33px' viewBox='0 0 1400 33' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EWavy line%3C/title%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Xtra-Large' transform='translate(0.000000, -1210.000000)' fill='%23E0E0E0' fill-rule='nonzero'%3E%3Cpath d='M1394.97076,1238.93197 L1401.65703,1239.67552 L1401.32448,1242.65703 L1399.83373,1242.49076 C1228.28052,1223.3565 1076.95352,1213.69423 945.855674,1213.5029 L939.718829,1213.501 L935.401449,1213.50907 L931.113417,1213.52525 L926.852561,1213.54961 C926.144562,1213.55435 925.437605,1213.55944 924.731645,1213.56487 L920.507478,1213.60161 L916.305055,1213.64667 L912.122202,1213.70012 L907.956746,1213.76202 L903.806514,1213.83242 C903.115957,1213.84486 902.425944,1213.85767 901.736429,1213.87083 L895.543031,1213.99897 L891.425433,1214.09524 C890.739772,1214.11202 890.054382,1214.12915 889.36922,1214.14666 L885.260605,1214.25606 L881.155263,1214.37431 C880.471191,1214.39475 879.787165,1214.41557 879.10314,1214.43676 L874.998632,1214.56836 L870.891964,1214.70894 L866.780962,1214.85856 C866.095313,1214.88425 865.409393,1214.91033 864.723157,1214.93678 L860.601581,1215.10007 L856.470239,1215.27255 L852.326958,1215.45428 L848.169565,1215.64532 L843.995887,1215.84572 L839.803751,1216.05555 L835.590984,1216.27487 L831.355413,1216.50373 L827.094864,1216.7422 L822.807166,1216.99033 L818.490144,1217.24818 L814.141625,1217.51582 L809.759437,1217.7933 L805.341407,1218.08068 L798.642404,1218.53045 L794.12526,1218.84285 L789.564669,1219.16536 L784.958456,1219.49803 L780.304449,1219.84094 L773.229071,1220.37461 L766.033933,1220.93163 L758.7117,1221.51219 L753.755982,1221.91242 L746.205628,1222.53269 L741.091038,1222.95956 L730.65763,1223.84567 L722.645318,1224.53879 L665.776294,1229.57119 L649.431118,1230.98832 L638.550053,1231.91205 L627.226871,1232.85132 L616.46714,1233.71808 L607.076192,1234.45007 L597.966555,1235.13515 L589.050445,1235.77953 L583.757153,1236.14919 L581.505599,1236.30346 C578.880242,1236.4823 576.258979,1236.65723 573.631286,1236.829 L568.741394,1237.14454 L563.441639,1237.47742 L558.088652,1237.80441 C557.191012,1237.85849 556.290374,1237.91238 555.386349,1237.96611 C505.139823,1240.95227 455.779147,1242.5 402.779509,1242.5 C366.305013,1242.5 330.847936,1242.13136 296.408242,1241.39406 L287.819514,1241.20206 C183.581202,1238.77255 88.7554313,1232.93231 3.34124798,1223.68083 L-1.65467446,1223.13508 L-1.32742323,1220.15299 L0.163625617,1220.31661 C116.699655,1233.10511 250.905766,1239.5 402.779509,1239.5 C455.718028,1239.5 505.019543,1237.95412 555.208373,1234.97139 L561.257854,1234.60629 C562.259024,1234.54492 563.257025,1234.48327 564.252412,1234.42129 L570.197801,1234.04523 L576.107077,1233.65951 L583.929042,1233.13018 L590.96007,1232.63611 L598.071667,1232.11921 L607.141991,1231.43621 L618.405873,1230.55444 L626.214382,1229.92404 L637.435469,1228.99505 L651.563917,1227.79414 L673.015431,1225.92324 L719.675797,1221.78674 L727.750668,1221.08479 L735.661774,1220.40741 L743.416453,1219.75439 L751.022043,1219.12555 L758.485883,1218.52067 L763.38665,1218.13063 L770.630546,1217.56525 L775.391478,1217.20135 L780.100281,1216.84782 L784.75913,1216.50458 L789.370198,1216.17157 L793.93566,1215.84874 L800.703099,1215.38345 L805.164059,1215.08581 L809.587023,1214.79813 L813.974165,1214.52036 L818.327659,1214.25244 L822.649681,1213.99432 L826.942403,1213.74593 L831.208001,1213.5072 L835.448648,1213.27809 L839.66652,1213.05854 L843.863789,1212.84848 L848.042631,1212.64785 L852.20522,1212.4566 L856.35373,1212.27467 L860.490335,1212.10199 L864.61721,1211.93851 L868.736528,1211.78417 L872.850465,1211.63891 L876.961194,1211.50267 C877.646169,1211.48071 878.331101,1211.45912 879.016035,1211.43791 L883.12603,1211.31508 L887.238253,1211.20113 L891.354878,1211.09599 L895.47808,1210.9996 L899.610032,1210.9119 L903.75291,1210.83284 L907.908888,1210.76235 L912.080139,1210.70038 L916.268839,1210.64686 L920.477161,1210.60174 L924.707279,1210.56495 L928.961368,1210.53645 L933.241603,1210.51616 L937.550157,1210.50403 L941.889205,1210.5 C1072.69691,1210.5 1223.72311,1219.97768 1394.97076,1238.93197 Z' id='Wavy-line'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  padding-bottom: 45px;
}

@media (min-width: 768px) {
  .wavy-divider {
    padding-bottom: 100px;
  }
}
